target/*
work/*
.idea/*
aq-jenkins-connect.iml
release.properties
core/target/*
core/.settings/org.eclipse.core.resources.prefs
core/.settings/org.eclipse.jdt.core.prefs
core/.settings/org.eclipse.jdt.apt.core.prefs
core/.settings/org.eclipse.m2e.core.prefs
release.properties
core/target/maven-archiver/pom.properties
core/core.iml
